/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #f2bb05;
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: 0.875rem;
    --body-font-size: 0.875rem;
  }
}

@media screen and (max-aspect-ratio: 7/8) {
  :root {
    --h2-font-size: 1rem;
    --small-font-size: 0.7rem;
    --body-font-size: 0rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 80vw;
  height: auto;
}

/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 1rem;
}

.card_container {
  display: grid;
  row-gap: 3.5rem;
  column-gap: 2rem;
}

.card_article {
  position: relative;
  overflow: hidden;
}

.card_img {
  width: 40vw;
  height: 40vw;
  border-radius: 1.5rem;
}

.card_data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -13rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card_description {
  display: block;
  font-size: var(--body-font-size);
  margin-bottom: 0.25rem;
}

.card_title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 0.75rem;
}

.card_button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card_button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card_article:hover .card_data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card_article:hover {
  animation: remove-overflow 2s forwards;
}

.card_article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card_article:not(:hover) .card_data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-14rem);
  }
  100% {
    transform: translateY(-11rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-11rem);
  }
  50% {
    transform: translateY(-14rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-aspect-ratio: 1/2) {
  .card_description {
    font-size: 0rem;
  }
  .card_data {
    max-width: 55vw;
  }
}

/* For small devices */
@media screen and (max-aspect-ratio: 7/8) {
  .container {
    margin-inline: 1rem;
  }

  .card_container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 3vw;
    row-gap: 3vh;
    justify-items: center;
  }

  .card_article {
    width: 100%;
  }

  .card_img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .card_data {
    width: calc(100% - 1rem);
    max-width: 90%;
    padding: 0.5rem;
    box-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.15);
  }

  .card_title {
    margin-bottom: 0rem;
  }

  .card_description {
    font-size: 0rem;
    margin-bottom: 0rem;
  }

  @keyframes show-data {
    50% {
      transform: translateY(-14rem);
    }
    100% {
      transform: translateY(-14rem);
    }
  }

  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }

  @keyframes remove-data {
    0% {
      transform: translateY(-14rem);
    }
    20% {
      transform: translateY(-14rem);
    }
    100% {
      transform: translateY(0.5rem);
    }
  }

  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    10% {
      overflow: hidden;
    }
  }
}

/* For large devices */
@media screen and (min-aspect-ratio: 7/8) {
  .container {
    height: 100vh;
  }

  .card_container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 3vw;
  }

  .card_img {
    width: 20vw;
    height: 20vw;
  }

  .card_data {
    width: 18vw;
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .card_container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 3vw;
  }
}
