@import url("https://use.typekit.net/lnf3shp.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

img {
  display: block;
  width: 50vw;
  max-width: 80%;
  height: 50vw;
}

.container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.title {
  color: rgba(0, 0, 0, 0.671);
  font-family: "p22-nudgewink-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 8vmin;
  padding-bottom: 10px;
}

.links {
  text-align: center;
}

.link {
  width: 35px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
